/backend/node_modules
/backend/.env
/backend/package-lock.json
/backend/package.json
/backend/README.md
/backend/tsconfig.json
/backend/tsconfig.node.json
/backend/tsconfig.app.json
/backend/tsconfig.spec.json
/backend/tsconfig.app.spec.json
/backend/tsconfig.app.spec.json
node_modules
